<div>
  <p>ユーザー名：<%= @user.name %></p>
</div>

<% if @tasks.any? %>

  <ul>
    <% @tasks.each do |task| %>
      <li>
        <div>
          <p>ステータス：<%= task.status %></p>
        </div>
        <div>
          <p>タスク：<%= link_to task.content,task %></p>
        <div>
      </li>
    <% end %>
  </ul>
<% end %>

<%= debug current_user %>
