<div>
  <p>ユーザー名：<%=@user.name%></p>
</div>

<%if @current_user.tasks.any?%>
  <ul>
    <%@current_user.tasks.each do |task| %>
      <li>
        <div>
          <p>ステータス：<%=task.status%></p>
        </div>
        <div>
          <p>タスク：<%=link_to task.content,task%></p>
        <div>
      </li>
    <%end%>
  </ul>
<%end%>
